commands:
  add_packs_location_to_nginx:
    command: |
      [[ -n $(grep "location /packs {" /etc/nginx/conf.d/webapp_healthd.conf) ]] && echo "packs already exists in nginx conf, skipping" || sed -i '$i\\n  location /packs {\n    alias /var/app/current/public/packs;\n    gzip_static on;\n    gzip on;\n    expires max;\n    add_header Cache-Control public;\n  }' /etc/nginx/conf.d/webapp_healthd.conf
      [[ -n $(grep "location /cable {" /etc/nginx/conf.d/webapp_healthd.conf) ]] && echo "cable already exists in nginx conf, skipping" || sed -i '$i\\n  location /cable {\n    proxy_pass http://my_app;\n    proxy_http_version 1.1;\n    proxy_set_header Upgrade "websocket";\n    proxy_set_header Connection "Upgrade";\n    proxy_set_header X-Real-IP $remote_addr;\n    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;\n    }' /etc/nginx/conf.d/webapp_healthd.conf
      service nginx reload
